{% extends 'base.html' %}

{% block content %}
<div class="container">
    <header class="header">
        <h1>INICIO</h1>
    </header>
    <main class="contenido">
        <h3>Selecciona el archivo CSV con los datos de entrada de locales:</h3>
        <form action="http://localhost:5000/" method="POST" enctype = "multipart/form-data">
            <label for="myfile">Selecciona el fichero:</label>
            <input type="file" id="myfile" name="myfile"><br><br>
            <input type="submit" value="Upload">
        </form>

        <h3>Selecciona el archivo CSV con los datos de entrada de dimensiones del edificio:</h3>
        <form action="http://localhost:5000/" method="POST" enctype = "multipart/form-data">
            <label for="myfile">Selecciona el fichero:</label>
            <input type="file" name="file"><br><br>
            <input type="submit" value="Upload">
        </form>
    </main>
    <footer class="footer">
        <h3>FOOTER</h3>
    </footer>
</div>

{% endblock %}
