body {
    background-color: beige;
    font-family: Arial;
  }
  
  .container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  
  .container > div,
  .container .header,
  .container .salir,
  .container .sidebar,
  .container .footer,
  .container .contenido {
    padding: 20px;
    border-radius: 4px;
  }
  
  .container .salida {
    grid-column: span 1;
    text-align: center;
    justify-content: center;
  }

  .container .salir {
    background: #d42935;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 38px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
  }

  .container .header {
    background: #12203e;
    color: #fff;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    justify-content: center;
  }
  
  .container .contenido {
    background: #fff;
    grid-column: span 4;
  }
  
  .container .widget-1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .container .widget-2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  
  .container .footer {
    text-align: center;
    background: #12203e;
    color: #fff;
    grid-column: span 4;
  }
  
  .imagen {
    display: flex;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-color: #12203e;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }

  .blue {
    background-color: #56a7fd;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 38px;
    margin: 4px 2px;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
  }